@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 60px;
  background: white;
  animation: pathmove 4s ease-in-out infinite;
  opacity: 0;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 150px;
    opacity: 0;
  }
}

/* text animation */
@keyframes showTextFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}

.textAnimation span {
  display: inline-block;
}

.textAnimation > span {
  overflow: hidden;
}

.textAnimation > span > span {
  animation: showTextFromBottom 1s backwards;
}

@layer base {
  body {
    @apply font-sans tracking-wider bg-bg text-white select-none;
  }
  h1 {
    @apply font-meddon text-4xl sm:text-5xl md:text-7xl lg:text-8xl;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-7xl;
  }
  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-base sm:text-xl md:text-2xl;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs md:text-sm;
  }
  p {
    @apply text-tiny;
  }
}

@layer components {
  .layout {
    @apply w-screen pointer-events-auto;
  }
  .line {
    @apply absolute bg-gy w-px h-10 md:h-16;
  }
  .scroll {
    @apply absolute bg-gy w-px h-36;
  }
  .nav {
    @apply text-gy z-30 text-tiny font-semibold py-2 tracking-widest2;
  }
  .hamburger_menu {
    @apply w-screen h-screen absolute z-40 bg-white bg-opacity-80
    -inset-x-0 text-center pt-40 pointer-events-auto;
  }
  .hamburger_ul {
    @apply text-black text-sm font-semibold py-2 tracking-widest2;
  }
  .menu_bar {
    @apply absolute z-50 cursor-pointer pointer-events-auto
    bottom-0 -inset-x-0 mx-auto py-4 text-center
    tracking-widest2 text-tiny font-semibold;
  }

  /* header */
  #header {
    @apply relative bg-bg h-95vh z-10 px-8
    lg:pl-40 xl:pl-64
    flex flex-col justify-center;
  }
  #about {
    @apply relative bg-bg2 h-screen z-10 px-8
    lg:pl-40 xl:pl-64 flex items-center 
    md:grid grid-flow-col grid-cols-2;
  }
  .about_right {
    @apply w-40 md:w-60 lg:w-64;
  }
  .about_rec {
    @apply border border-white border-solid  
    top-0 h-52 md:h-80 lg:h-20rem;
  }
  .about_img {
    @apply absolute top-10 left-10;
  }
  .history_date {
    @apply text-xs tracking-wider
    font-semibold text-gy;
  }
  .history_text {
    @apply text-xs lg:text-sm ml-4 py-2 lg:py-4;
  }

  /* work */
  #works {
    @apply relative bg-bg2 h-full z-10 mb-screen
    lg:pl-40 xl:pl-64
    px-8 flex flex-col justify-center;
  }
  .work_img_rec {
    @apply bg-white text-center
    h-64 w-full sm:h-80 
    md:h-28rem md:w-28rem lg:h-30rem lg:w-30rem 
    xl:h-40rem xl:w-40rem;
  }
  .work_img_slide {
    transition: 1s all;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    @apply absolute inset-0 m-auto overflow-hidden cursor-pointer
    w-56 sm:w-72 md:w-80 lg:w-24rem xl:w-30rem;
  }
  .work_img_mobile {
    transition: 1s all;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    @apply absolute inset-0 m-auto overflow-hidden cursor-pointer
    w-56 sm:w-72 md:w-56 lg:w-56;
  }
  .detail_link {
    @apply flex items-end border border-gray-600 border-solid 
    rounded-md bg-gray-600 py-2 px-3 my-10 mx-3;
  }
  .lang_li {
    @apply border border-gray-700 border-solid text-xs
    rounded-full py-2 px-5 my-1;
  }

  /* footer */
  #footer {
    @apply bg-white h-screen z-1 
    fixed top-0 right-0 bottom-0
    lg:pl-40 xl:pl-64
    flex flex-col justify-center items-center;
  }
}

.work_img_slide:hover {
  transform: scale(1.2, 1.2);
  transition: 1s all;
}
.view_arrow {
  color: #fff;
  font-size: 16px;
  margin: 10px 0 10px 10px;
  padding: 18px;
  border: #858585 solid 1px;
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}
.view_arrow:hover {
  transform: scale(1.1);
}
.background {
  background: linear-gradient(-45deg, #f5d3c5, #f3e7e4, #e7d1c9, #d0b49f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 20rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
